body {
  padding-bottom: 500px;
}
.project-section-beginning {
  margin-bottom: 200px;
}

.image1 {
  max-width: 500px;
}

.tools-images {
  max-width: 40px;
}
.tools-section {
  padding-bottom: 100px;
}
